@{
    ViewData["Title"] = "Privacy Policy";
}

<main role="main">
    <div class="wrapper">
        <div class="container">
            <h1>@ViewData["Title"]</h1>

            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</main>
