@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<main role="main">
    <div class="wrapper">
        <div class="container">
            <h1>@ViewData["Title"]</h1>

            <p>Make an account to post and comment</p>
        </div>
    </div>
</main>
