nav.nav-bar-v20230311 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 12px;
    height: 60px;
    background-color: #3f597c;
    color: white;
}

    nav.nav-bar-v20230311 .nav-bar-container {
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
    }

        nav.nav-bar-v20230311 .nav-bar-container * {
            color: #FFFFFF;
            font-family: 'Catamaran';
        }

        nav.nav-bar-v20230311 .nav-bar-container a {
            color: #FFFFFF;
            font-family: 'Catamaran';
            text-decoration: none;
        }

        nav.nav-bar-v20230311 .nav-bar-container .logo-wrapper {
            display: flex;
            align-content: start;
        }

            nav.nav-bar-v20230311 .nav-bar-container .logo-wrapper img {
                width: 27px;
                background-color: white;
                height: 13px;
                margin-top: 14px;
                margin-left: 9px;
            }

        nav.nav-bar-v20230311 .nav-bar-container a.site-logo {
            font-family: 'Catamaran';
            font-weight: 700;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 36px;
        }

        nav.nav-bar-v20230311 .nav-bar-container .site-map {
            display: flex;
            column-gap: 24px;
            align-items: center;
        }

            nav.nav-bar-v20230311 .nav-bar-container .site-map .navbar-right {
                display: flex;
                column-gap: 24px;
            }
